@media only screen and (min-width:340px) and (max-width:475px){
    body{
        margin: 0;
        padding: 20px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    h1{
        font-size: xx-large!important;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    #display{
        position: relative;
        left: 10px !important;
        width: 85% !important;
        height: 20px !important;
        margin-left: 0px !important;
        margin-bottom: 30px !important;
    }
    input{
        font-size: large !important;
        width: 80% !important;
        margin-bottom: 30px !important;
    }
    input,button{
        height: 30px !important;
    }
    button{
        width: 80% !important;
        font-size: large !important;
    }
}